.modal-dialog{
    z-index: 1100;
    position: fixed;
    top: 0;
    
}

.btnSelec{
    transition: background-color 0.3s ease; /* Transición para el cambio de color */
    position: relative;
    width: 100%;
    height: 45px;
}

.btn.animateColor {
    background-color: #007bff;
  }