.modal-dialog{
    z-index: 1100;
    position: fixed;
    top: 0;
    
}

.btnSelec{
    transition: background-color 0.3s ease; /* Transición para el cambio de color */
}

.btn.animateColor {
    background-color: #ff4500;
  }